.container {
  width: 100%;
  height: 100%;
  display: flex;
  margin-right: 20px;
  position: relative;
}

.mermaid {
  background-color: #f6f8fa;
  /* width: 50vw;
   */
  flex: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.helper {
  position: absolute;
  left: 6px;
  bottom: 10px;
  z-index: 100;
}

.operation {
  position: absolute;
  right: 6px;
  bottom: 10px
}
